In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('ssdfdflkkdjricç'))

In [3]:
s

0     s
1     s
2     d
3     f
4     d
5     f
6     l
7     k
8     k
9     d
10    j
11    r
12    i
13    c
14    ç
dtype: object

In [4]:
s.unique()

array(['s', 'd', 'f', 'l', 'k', 'j', 'r', 'i', 'c', 'ç'], dtype=object)

In [5]:
s.value_counts()

d    3
s    2
f    2
k    2
l    1
j    1
r    1
i    1
c    1
ç    1
dtype: int64

In [7]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')

In [8]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [9]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64